<aside class="frame active">
  <ProgressBar @percent={{20}}/>
  <div class="btn-set">
    <KeywordBtn @selected={{false}} @value="Character encounters project, recognizes dramatis personae, lends wise suggestion, adds critical project component."/>
    <KeywordBtn @selected={{true}} @value="Character encounters project, recognizes dramatis personae, lends wise suggestion, adds critical project dimension."/>
    {{!--
    <div class="btn">
      <span class="btn-inner">Character encounters project, recognizes dramatis personae, lends wise suggestion, adds critical project component.</span>
    </div>

    <div class="btn selected">
      <span class="btn-inner">Character encounters project, recognizes dramatis personae, lends wise suggestion, adds critical project dimension.</span>
    </div>
    --}}
    {{!--
    <div class="btn">
      <span class="btn-inner">Character encounters project, recognizes dramatis personae, joins as project member.</span>
    </div>
    <div class="btn">
      <span class="btn-inner">Character encounters project, recognizes dramatis personae, tells stranger idea.</span>
    </div>
    <div class="btn">
      <span class="btn-inner">Project immerses project members into project story world.</span>
    </div>
    --}}
  </div>
  {{yield}}
</aside>
