@import 'oil-pastels';

/* CONSTANTS */
$golden-ratio: 0.618033988749855;

/* ELEMENTS */
html,
body {
  margin: 0;
  padding: 0;
  display: flex;
  height: 100%;
  width: 100%;
  font-family: courier, 'Courier New', monospace;
  background-color: map-get($oil-pastels, 'white');
  color: map-get($oil-pastels, 'black');
  font-size: 16px;
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: Arial, Helvetica, Verdana, sans-serif;
}
article {
  flex: 5;
}
aside,
nav {
  flex: 1;
}

/* TYPOGRAPHY */
.sans {
  font-family: Arial, Helvetica, Verdana, sans-serif;
}
$monospace-font-family: courier, 'Courier New', monospace;
.monospace {
  font-family: $monospace-font-family;
}

/* LAYOUT */
.h-100 {
  height: 100%;
}
.w-100 {
  width: 100%;
}
.w-62 {
  width: $golden-ratio * 100%;
}
.w-38 {
  width: 100% - $golden-ratio * 100%;
}
.overflow-scroll {
  overflow: scroll;
}

/* MARGIN & PADDING */
.m-4 {
  margin: 1rem;
}
.m-8 {
  margin: 2rem;
}

/* FLEXBOX */
.d-flex {
  display: flex;
}
.flex-col {
  flex-direction: column;
}
.flex-row {
  flex-direction: row;
}
.space-between {
  justify-content: space-between;
}
.space-between {
  justify-content: space-around;
}
.justify-content-center {
  justify-content: center;
}

/* SHADOWS */
$box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 1-$golden-ratio),
  0 (0.5 * 0.125rem) (0.5 * 0.25rem)
    rgba(0, 0, 0, (1-$golden-ratio) * $golden-ratio);

/* DISPLAY */
.opacity-0 {
  opacity: 0;
}
.opacity-38 {
  opacity: 1 - $golden-ratio * 1;
}
.opacity-62 {
  opacity: $golden-ratio * 1;
}
.opacity-100 {
  opacity: 1;
}

/* COMPONENTS */
.viewport {
  width: 100%;
  height: 100%;
  margin: 0;
}
.container {
  max-width: 600px;
  padding: 2rem;
}
.main {
  flex: 1;
}
.hbox {
  display: flex;
  flex-direction: row;
}
.vbox {
  display: flex;
  flex-direction: column;
}

/* RESPONSIVE */
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;

/*
  FONTS
*/
@font-face {
  font-family: 'Arial Black';
  src: url('/fonts/Arial-Black.otf');
}
$arial-font-family: 'Arial Black', 'Arial Bold', Arial-BoldMT, -apple-system,
  system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial,
  sans-serif;

.arial-font {
  font-family: $arial-font-family;
}

@import 'pod-styles';
