& {
  z-index: 1000;
  position: absolute;
  top: 2rem;
  bottom: calc((-6rem + 100vh) * 0.38);
  left: 19vw;
  right: 19vw;
}
/* ELEMENTS */
video {
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  box-shadow: $box-shadow;
  object-fit: cover;
}
