<div class="vbox viewport">
  <section class="main hbox space-between">
    {{!--
    <aside class=" pastel-black pastel-bg">
      <StorySettings class="" @operators={{model.operators}}/>
    </aside>
    --}}
    <article class="d-flex">
      <StoryGraph class="d-flex"/>
    </article>
  </section>
</div>
{{outlet}}
