<div class="vbox viewport">
  <section class="main hbox space-between">
    <aside class=" pastel-black pastel-bg">
      <StorySettings class="" @operators={{model.operators}}/>
    </aside>
    <article class="">
      <StoryGraph class="container" @operators={{model.operators}}/>
    </article>
  </section>
</div>
{{outlet}}
