& {
  color: white;
  // height: 100%;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  align-content: center;

  z-index: 1000;
  position: absolute;
  top: 2rem;
  // bottom: calc((-6rem + 100vh) * 0.38);
  bottom: 2rem;

  left: 2rem;
  right: 2rem;
  @media (min-width: $breakpoint-sm) {
    left: 19vw;
    right: 19vw;
  }
}

/* ELEMENTS */
h1 {
  font-family: $arial-font-family;
  text-transform: uppercase;
  text-align: center;
  font-size: calc(1.525rem + 3.3vw);
  line-height: 1;
  margin: 0;
  margin-bottom: 1rem;
}
p {
  // text-indent: 1em;
  max-width: 30rem;
  margin: 0 auto;
}

/* COMPONENTS */
.lead {
  font-size: calc(1.275rem + 0.3vw);
  text-align: justify;
}
.btn {
  font-family: $arial-font-family;
  font-size: calc(1.275rem + 0.3vw);
  display: block;

  text-transform: uppercase;

  transition: opacity 0.75s, background-color 0.25s;
  // background-color: rgba(255, 255, 255, $golden-ratio);
  // color: map-get($oil-pastels, 'hi-blue');
  // color: map-get($oil-pastels, 'black');
  color: black;
  background-color: transparentize(
    map-get($oil-pastels, 'hi-pink'),
    1 - $golden-ratio
  );

  box-shadow: $box-shadow;
  border-radius: 0.25rem;
  margin: ((1 + $golden-ratio) * 1rem) auto;
  text-align: center;
  padding: 0.75rem 0.75rem;

  @media (min-width: $breakpoint-sm) {
    // margin: 0rem 0.75rem;
    padding: 0.75rem 1.5rem;
  }

  opacity: 1;
  max-width: (1 - $golden-ratio) * 30rem;

  // max-width: 100% - $golden-ratio * 100%;
  // font-size: 1rem;
  cursor: pointer;
  user-select: none;

  &:hover {
    background-color: rgba(
      255,
      255,
      255,
      1 - $golden-ratio * $golden-ratio * $golden-ratio * $golden-ratio
    );
  }
  &:active,
  &.selected {
    background-color: rgba(255, 255, 255, 1);
  }
  &:active {
    transition: background-color 0s;
  }
}
