<h1>Let NYC Dance</h1>
<p class="lead">Navigate a real story of how a dream becomes a bill, becomes a law. Make history.</p>
<div><span {{action "start"}} class="btn">▶ Play</span></div>
<p class="text-left" style="margin-top: auto;">Interactive Supercut by Jamie Burkart, 2020</p>
{{yield}}
