<div class="vbox viewport">
  <section class="main hbox space-between">
    <aside class="pastel-black pastel-bg">
      <StorySettings class="" @operators={{model.operators}}/>
    </aside>
    <article class="">
      <LiveOutline class="container"/>
    </article>
  </section>
</div>
{{outlet}}
{{!--
Dreamer has irrational dream.
Dreamer tells dream to friend as idea.
Friend hears idea as plan, joins as project member.
Project members form project collaboration.
Project members rush, eagerly commence plan.
Project immerses project members into project story world.
Project members undergo personal ordeals of transformation, become dramatis personae with respect to project story world.
Authority responsible for plan's domain appears, exits.
Project takes on unusual scale.
Friend tells stranger idea.
Stranger hears idea as plan, joins as project member.
Project members engineer resilience into plan, add critical project dimension.
Project dimensions stretch to accommodate.
Character encounters project, notifies authority.
Project encounters turbulence.
Project members engineer critical project component.
Sufficient project component holds.
Authority inspects project.
Resilience of plan obscures irrationality of dream, defers Authority.
Project members complete plan, bound in friendship.
Irrational dream is manifest.
--}}
