<button {{action "getOutline"}}>Make Outline</button>
<h1>Beginning</h1>
{{#each planner.currentPlan as |step|}}
  <dl>
    <dt>{{step.operator.name}}</dt>
    <dd>
    {{#each step.newAdditions as |proposition|}}
      <ul><li>{{proposition.slug}}</li></ul>
    {{/each}}
    </dd>
  </dl>
{{/each}}
<h1>Ending</h1>

{{yield}}
